body {
     font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

ul{ list-style: none;}

a { text-decoration: none;}

/* ------------header---------- */


.header {
        background: #FFF;
}

.logo {color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
         .header-logo {color: #2E2F42;}

    
         .header-menu {}
    
         .header-link-menu {
            color: #2E2F42;
  
            font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
         }

    .header-link-menu:hover {color: #404BBF;}
         .header-link-menu:focus {color: #404bbf}

       
         .header-address {
            font-style: normal}
    
         .header-address-item {}
    
         .header-address-items {}
    
         .header-address-link {
            color: #434455;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                font-style: normal;
            
         }
         
        .header-address-link:hover{color: #404BBF;}
                .header-address-link:focus{color: #404bbf;}
                 /* ------main---------- */

         .strategy {background: #FFF;}

.main-strategy-titel {color: #FFF;}

    .header-titl {background: #2E2F42;}

         .title {
            color: #FFF;
                text-align: center;
                font-size: 56px;
                line-height: 1.07;
                letter-spacing: 0.02em;
         }
    
         .main-btn {
            color: var(--WHITE, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                    background: #4D5AE5;
                 cursor: pointer;

                }

                                .main-btn:hover,
                         .main-btn:focus {background-color: #404BBF;}
                          
    
         .main-strategy {}
    
         .main-strategy-list {}

         .item {}
    
         .main-titel-list {}

    
         .main-text {}
    
         .text {color: #434455;
            font-size: 16px;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.02em;}
    
         .list {
            color: #2E2F42;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.02em;
         }
    
         .team-titel {
            color: #2E2F42;
                text-align: center;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-transform: capitalize;
         }

    .team {
        background: #F4F4FD;
    }


            

         .team-main {background-color: #FFFFFF;}
    
        
                 .team-main-list {background-color: #FFFFFF;}

        
                 .team-main-pic {}

        
                 .team-main-titel {
                    color: #2E2F42;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;
                 }

        
                 .team-main-text {
                    color: #434455;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                 }
        
        
        .portfolio {
            background: #FFF;
        }
        
                .main-portfolio-titel {
                    color: #2E2F42;
                    text-align: center;
                    font-size: 36px;
                    line-height: 1.1;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                }
                .portfolio-main {}
        
                .portfolio-main-list {}
        
                .portfolio-main-pic {}
        
                .portfolio-main-titel {
                    color: #2E2F42;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;
                }
        
                .portfolio-main-text {
                    color: #434455;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                }
    

         
    
                         /* ----------footer---------- */

         .logo {
            color: var(--IRIS, #4D5AE5);
                font-family: "Raleway",
                    sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
         }

                 .portfolio-main {}

        
                 .portfolio-main-list {}

        
                 .pic-gallery {}

        
                 .main-portfolio-titel-list {
                    color: #2E2F42;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;}

        
                 .portfolio-main-text {
                    color: #434455;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                 }

                .footer-logo {
                    color: #F4F4FD;
                        
                }

    
         .footer-text {
            color: #F4F4FD;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
         }
          
         .footer {
            background: #2E2F42;
         }